.wrapper {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
}

.header {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo>a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-logo__img {
    width: 64px;
    height: 64px;
}

.nav-logo__title {
    font-weight: 300;
    font-size: 3rem;
}

.nav-items {
    display: flex;
    gap: 2rem;
}

.nav__item {
    font-size: 2rem;
}

.news-container {
    margin: 5rem 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.news__item {
    padding: 0.5rem 1rem;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.news__title {
    margin: 1rem 0;
    font-size: 2rem;
}

.news-content {
    display: flex;
}

.news__img {
    max-width: 180px;
    max-height: 180px;
}