html(lang="ru")
    head
        meta(charset="utf-8")
        title= "pug localhost"
        link(rel="stylesheet" href="./reset.css")
        link(rel="stylesheet" href="./index.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet")
    body
        header.header

            div.wrapper
                nav.nav
                    div.nav-logo
                        a(href= "/")
                            img(src="./assets/menu.png" alt="logo").nav-logo__img 
                            h1.nav-logo__title clayton
                    ul.nav-items
                        each name in ["main", "about", "contacts"] 
                            li(class="nav__item")
                                a(href= "/" + name )= name
        main
            div(id="root") 

                div.wrapper
                    h2 content
                    section.news-container
                        article.news__item
                            h3.news__title Заголовок
                            div.news-content
                                img(src="./assets/image1.png" alt="image1").news__img
                                p.news__description 
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    | Doloremque iusto excepturi necessitatibus qui explicabo consectetur molestiae quam nihil quia,
                                    | molestias modi consequatur similique sed quis laboriosam quod quibusdam atque recusandae!
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    | Doloremque iusto excepturi necessitatibus qui explicabo consectetur molestiae quam nihil quia,
                                    | molestias modi consequatur similique sed quis laboriosam quod quibusdam atque recusandae!

    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="./index.js" type="module")
